<link rel = "stylesheet" href = "/app.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">

<div class="flex-container">
    <div class="container">
        <h1>JOIN US</h1>
        <p class="lead">Enter your email to join <strong><%=count%></strong> others on our waitlist. </p>
        <form method="POST" action='/register'>
            <input type="text" name="email" class="form" placeholder="Enter Your Email">
			<input type = "text" name = "first_name" class ="form" placeholder = "First Name">
			 <input type = "text" name = "last_name" class ="form" placeholder = "Last Name"> 
            <button>Join Now</button>
        </form>
    </div>
</div>